* {
  box-sizing: border-box;
}

#hero-banner {
  height: 50vh;
  width: 100%;
  /* position: fixed;
  top: 110px; */
  z-index: 100;
}

.categoryName {
  color: white;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  padding: 11rem 0rem 0rem 5rem;
  letter-spacing: 10px;
}

.banner-comedy {
  background: url("categories pictures/comedy.jpeg") no-repeat fixed center center/cover;
  /* background-size: 100% 100%; */
}
.banner-thriller {
  background: url("categories pictures/pexels-andreas-4483237.jpg") no-repeat fixed center
    center/cover;
}

.banner-action {
  background: url("categories pictures/action.jpeg") no-repeat fixed center center/cover;
}

.banner-drama {
  background: url("categories pictures/cropped drama.jpg") no-repeat fixed center center/cover;
}

.banner-fantasy {
  background: url("categories pictures/cropped fantasy.jpg") no-repeat fixed center center/cover;
}

#library {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: #000000;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 250px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.movie-info span {
  background-color: #202020;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}
.movie-info span.green {
  color: rgb(39, 189, 39);
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: rgb(189, 42, 42);
}

.overview {
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(233, 227, 227);
  padding: 2rem;
  position: absolute;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.overview h3 {
  margin-top: 0;
}

.movie:hover .overview {
  transform: translateY(0);
}
