* {
  box-sizing: border-box;
}

#hero-banner {
  height: 50vh;
  width: 100%;
  /* position: fixed;
  top: 110px; */
  z-index: 100;
}

.categoryName {
  color: white;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  padding: 11rem 0rem 0rem 5rem;
  letter-spacing: 10px;
}

.banner-comedy {
  background: url("categories pictures/comedy.jpeg") no-repeat fixed center center/cover;
  /* background-size: 100% 100%; */
}
.banner-thriller {
  background: url("categories pictures/pexels-andreas-4483237.jpg") no-repeat fixed center
    center/cover;
}

.banner-action {
  background: url("categories pictures/action.jpeg") no-repeat fixed center center/cover;
}

.banner-drama {
  background: url("categories pictures/cropped drama.jpg") no-repeat fixed center center/cover;
}

.banner-fantasy {
  background: url("categories pictures/cropped fantasy.jpg") no-repeat fixed center center/cover;
}

.banner-search {
  background: url("categories pictures/search.jpg") no-repeat fixed center center/cover;
}

#library {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: #000000;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 250px;
  cursor: pointer;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.movie-info span {
  background-color: #202020;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}
.movie-info span.green {
  color: rgb(39, 189, 39);
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: rgb(189, 42, 42);
}

.green {
  color: rgb(39, 189, 39);
}

.orange {
  color: orange;
}

.red {
  color: rgb(189, 42, 42);
}

.overview {
  content: "OOOOOOO";
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  background-color: black;
  padding: 0 0.5rem;
  position: absolute;
  max-height: 1.8rem;
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.overview h3 {
  margin-top: 0;
}

.movie:hover .overview {
  transform: translateY(0);
}

/* .modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: hidden;
  justify-content: center;
  align-items: center;
  visibility: visible;
  transition: visibility 0s, opacity 0, 5s;
} */

/* .bg-active {
  display: hidden;
  opacity: 1;
} */

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
  max-width: 60vw;
  max-height: 60vh;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #000000;
  padding: 5rem;
}

.modal img {
  max-height: 300px;
}

.modal p {
  max-width: 400px;
}

.modal-hidden {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.individual-movie-content {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.individual-movie-data {
  padding: 2rem;
}

.individual-movie-data h2,
p {
  margin-bottom: 1rem;
}

#modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
}
