* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: white;
}


body {
}

a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  background-color: rgb(19, 18, 18);
}

.container {
  max-width: 70vw;
  margin-top: 10%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.movie-categories-with-sofa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movieGrid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    ". a a . . b b ."
    ". . . c c . . ."
    "d d . . . . e e";
  grid-gap: 2rem;
  min-width: 70vw;
}

.categoryButton {
  border: solid 1px white;
  padding: 0.8rem 1rem;
  text-align: center;
  box-shadow: 1px 10px 20px white;
  border-radius: 10px;
}

.categoryButton a {
  color: white;
  text-decoration: none;
}

#comedyButton {
  grid-area: a;
}

#dramaButton {
  grid-area: b;
}

#actionButton {
  grid-area: c;
}

#thrillerButton {
  grid-area: d;
}

#fantasyButton {
  grid-area: e;
}

#moodButton {
  margin: 5rem;
  box-shadow: none;
  background-color: rgb(19, 18, 18);
  font-size: 1rem;
}

.onSofa img {
  max-width: 1000px;
}

/****** INDIVIDUAL MOVIE PAGE ******/

.movie-top {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#movie_name_individual_page {
  margin-top: 1rem;
}

.movie-info-individual {
  min-height: 40vh;
  border: solid 1px white;
  border-radius: 10px;
  padding: 2rem;
  margin: 4rem auto;
  display: flex;
  flex-direction: row;
}

.movie-info-box {
  margin: 1rem;
}

.movie-info-box h2 {
  margin-bottom: 1rem;
}

#duration {
  margin-bottom: 1rem;
}

#description {
  margin-bottom: 1rem;
}

.movie-info-box h3 {
  margin-bottom: 1rem;
}

#movie_poster {
  min-height: 10rem;
  min-width: 20rem;
  background-color: #333;
  margin: 1rem;
}

#trailer {
  min-height: 30vh;
  border: solid 1px white;
  border-radius: 10px;
  padding: 2rem;
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
