* {
  margin: 0;
  color: white;
}

body {
  background-color: rgb(19, 18, 18);
}
header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  padding: 0.5rem;
  transition: 0.2s;
}
a {
  text-decoration: none;
  background-color: white;
  color: black;
}

.logo {
  font-family: "Arya", cursive;
  font-size: 2rem;
}

.logobottom {
  font-family: "Montserrat", sans-serif;
}

input {
  width: 15rem;
  padding: 0.5rem;
  outline-style: solid;
  border-radius: 5px;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
}

#hero-banner {
  height: 60vh;
  width: 100%;
}

.banner-comedy {
  background-image: url("categories pictures/pexels-helena-lopes-708440.jpg");
}
.banner-thriller {
  background-image: url("categories pictures/pexels-andreas-4483237.jpg");
}
/* .banner-action
.banner-drama
.banner-fantasy */

.container {
  margin-left: 13rem;
  max-width: 75rem;
  margin-top: 10%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

.movieGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "a a g g b b"
    "h h c c i i"
    "d d j j e e"
    "k f f f f l";
  grid-gap: 2rem;
}
.categoryButton {
  width: 40%;
  background-color: black;
  color: white;
  box-shadow: 1px 10px 20px white;
  border-radius: 5px;
  border-width: 1px;
  padding: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blankButton {
  width: 100%;
  height: 100%;
}

#comedyButton {
  grid-area: a;
}

#dramaButton {
  grid-area: b;
}

#actionButton {
  grid-area: c;
}

#thrillerButton {
  grid-area: d;
}

#fantasyButton {
  grid-area: e;
}

#moodButton {
  grid-area: f;
  margin-left: 10rem;
  margin-bottom: 1rem;
  box-shadow: none;
  background-color: rgb(19, 18, 18);
  font-size: 1rem;
}

.blankSpace {
  grid-area: g;
  background-color: transparent;
  visibility: hidden;
}

.blankSpace2 {
  grid-area: h;
  background-color: transparent;
  visibility: hidden;
}
.blankSpace3 {
  grid-area: i;
  background-color: transparent;
  visibility: hidden;
}
.blankSpace4 {
  grid-area: j;
  background-color: transparent;
  visibility: hidden;
}
.blankSpace5 {
  grid-area: k;
  background-color: transparent;
  visibility: hidden;
}
.blankSpace6 {
  grid-area: l;
  background-color: transparent;
  visibility: hidden;
}

.onSofa img {
  margin-left: 19rem;
  width: 60%;
}

footer {
  /* position: relative; */
  height: 100%;
  width: 100%;
  color: white;
  background-color: #031d44;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
